/PDFs
*.exe
*.txt
*.class
/Lab4_24-1/Preg4/MedicalSoft/nbproject/private/
/Lab4_24-1/Preg4/MedicalSoftController/nbproject/private/
/Lab4_24-1/Preg4/MedicalSoftDBManager/nbproject/private/
/Lab4_24-1/Preg4/MedicalSoft/build/
/Lab4_24-1/Preg4/MedicalSoftDBManager/build/
/Lab4_24-1/Preg4/MedicalSoftController/build/

/Lab5_24-2/Preg4/EventMasterSoft/build/
/Lab5_24-2/Preg4/EventMasterSoftLogisticaDA/build/
/Lab5_24-2/Preg4/EventMasterSoftDBManager/build/
